<div class="header">
  <div class="header-searchWrapper">
    <app-logo></app-logo>
    <div class="header__search-field">
      <input matInput type="text" class="header__search-field__input" #searchInput title="search_field" placeholder="What do you want to search?" [disabled]="!userAuth">
      <button class="header__search-field__settingsButton"><img src="../../../../assets/img/filter.png" alt="filter" (click)="showFilterField()"></button>
    </div>
    <div class="header__login">
      <span>{{userName || 'Your Name'}}</span>
      <button class="header__login__button"><img src="../../../../assets/img/user.png" alt="user"></button>
      <button mat-raised-button color="primary" (click)="logOut()" *ngIf="userAuth">Log out</button>
    </div>
  </div>
  <div class="header__filter" *ngIf="settingsMode">
    <span class="header__filter__span_grey">Sorting by:</span>
    <button (click)="filterItems('date')">date</button>
    <img src="../../../../assets/img/sort-up.png" alt="sort icon" [hidden]="showDateIcon" [ngClass]="{sortIcon: (increase==false), sortIcon_rotate: (increase==true)}">
    <button (click)="filterItems('count of views')">count of views</button>
    <img src="../../../../assets/img/sort-up.png" alt="sort icon" [hidden]="showCountIcon" [ngClass]="{sortIcon: (increase==true), sortIcon_rotate: (increase==false)}">
    <span class="header__filter__span_blue">by word or sentance</span>
    <input type="text" class="header__filter__input" (change)="filterItems(filterInput.value)" #filterInput title="filter_word">
  </div>
</div>
