<div class="wrapper">
  <div *ngIf="getCustomCards">
    <mat-card *ngFor="let item of getCustomCards" class="item-card" [appItemCardBorderColor]="item.date">
      <img mat-card-image [src]="item.img" alt="photo of video" class="item-card__img">
      <mat-card-title class="item-card__title">{{item.title}}</mat-card-title>
      <button mat-raised-button class="item-card__button" (click)="goToCustomItemDetailedInfo(item)">more...</button>
    </mat-card>
  </div>
  <mat-card *ngFor="let item of getItems" class="item-card" [appItemCardBorderColor]="item.snippet.publishedAt">
    <img mat-card-image [src]="item.snippet.thumbnails.default.url" alt="photo of video" class="item-card__img">
    <div class="icons-wrapper">
      <div class="icon">
        <img src="../../../../assets/img/viewed.png" alt="photo of views">
        <span>{{item.statistics.viewCount}}</span>
      </div>
      <div class="icon">
        <img src="../../../../assets/img/liked.png" alt="photo of likes">
        <span>{{item.statistics.likeCount}}</span>
      </div>
      <div class="icon">
        <img src="../../../../assets/img/dislike.png" alt="photo of likes">
        <span>{{item.statistics.dislikeCount}}</span>
      </div>
      <div class="icon">
        <img src="../../../../assets/img/Group%209.png" alt="photo of likes">
        <span>{{item.statistics.commentCount}}</span>
      </div>
    </div>
    <mat-card-title class="item-card__title">{{item.snippet.localized.title}}</mat-card-title>
    <button mat-raised-button class="item-card__button" (click)="goToDetailedInfo(item)">more...</button>
  </mat-card>
</div>
